.container {
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(161, 255, 255);
}

.formulario{
    display: flex;
    justify-content: center;
    width: 80%;
    max-height: fit-content;
    background-color: rgb(149, 255, 161);
    border-radius: 10px;
}

.titulos {
    width: 100%;
    margin-left: 35px;
    font-size: 25px;
}

.option-1 {
    margin-top: 15px;
    width: 100%;
}

.mail {
    font-size: 25px;
    margin-left: 30px; 
    width: 400px;
    height: 40px;
}

textarea {
    resize:none;
    width: 400px;
    margin-left: 30px;
}

.selection select {
    font-size: 20px;
    margin-left: 35px;
    width: 400px;
    height: 100px;
}

select {
    overflow-y: scroll;
}

.descripcion {
    font-size: 25px;
}


.btn {
    width: 50%;
    padding: 18px;
    cursor: pointer;
    color: black;
    font-size: 28px;
    border-radius: 10px;
}

.choose button:hover {
    border: 1px solid #000;
    font-size: 30px;
    background-color: rgb(0, 184, 184);
}

.choose {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    margin-top: 18px;
    margin-bottom: 18px;
}


/* Validaciones */
.is-invalid {
    border: 1px solid #ff0000a6;
}

.text-danger {
    display: block;
    margin-left: 5%;
    padding-top: 2px;
    color: #ff0000a6;
}